$black: #111;
$grey: #CCCCCC;
$white: #FFFFFF;
$nepal: #98B4C2;
//$everglade: #839B12;
$everglade: #D9D269;
$lightgreen: #B4C75E;

/*
@font-face {
  font-family: 'Didot';
  src: url('/dist/fonts/didot.ttf') format('ttf');
}
*/

@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica+SC');

$display: 'IM Fell Double Pica', serif;
$logo_font: 'IM Fell Double Pica SC', serif;
$copy: 'IM Fell Double Pica', Helvetica, Arial, sans-serif;

h1 {
  font-family: $display;
  font-size: 30px;
}

h3 {
  font-family: $display;
  font-size: 30px;
}

h4, h5, h6 {
  font-family: $copy;
  font-size: 20px;
}

p, li, a, button {
  font-family: $copy;
  font-size: 18px;
}

nav {
  font-family: $copy;
  font-size: 16px;
}


h2, #logo a {
  font-family: $display;
  font-size: 36px;
}

#logo a {
  font-family: $logo_font;
}

@media (max-width: 850px) {
  h1 {
    font-size: 30px;
  }
  h2, #logo {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4, h5, h6 {
    font-size: 16px;
  }
  p, li, a, button{
    font-size: 12px;
  }
}

ul {
  list-style-type: none;
}

