div#guidebody {
  display: inline-block;
  width: 78%;

  h2 {
    color: white;
    font-size: 34px;
  }
  div.indent.black {
    width: 110%;
  }
}

div#guidenav {
  display: inline-block;
  float: right;
  width: 10%;
  h1 {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
  }
  .thumb {
    width: 100%;
    margin: 5px 0;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.controls {
  display: inline-block;
  float: right;
  width: 33%;
  position: relative;
  top: -20px;
  li {
    min-width: 200px;
    margin-top: 10px;
    text-align: left;
  }

  i.fas {
    font-size: 20px;
    margin-right: 5px;
    color: $everglade;

    &.fa-map-marker-alt {
      margin-left: 2.5px;
      margin-right: 7px;
    }
  }
}


@media (max-width: 1199px) {
  div#guidebody {
    margin-left: 2%;
    width: 86%;
  }
  div#guidenav {
    margin-right: 2%;
    width: 9.1%;
    h1 {
      text-align: center;
    }
  }
}

@media (min-width: 1200px) {
  div#guidebody {
    .nav-toggler {
      display: none;
    }
    button {
      text-align: left;
    }
    div.indent.black {
      width: 137%;
    }
  }

  div#guidenav {
    width: 20%;
    margin: 1%;
    margin-top: 0;

    h1 {
      margin-top: 5px;
      color: white;
      text-align:right;
    }

    .thumb {
      width: 48.8%;
      display: inline-block;
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  div#guidebody {
    width: 100%;
    margin: 0;
    div.indent.black {
      width: 90%;
    }
  }
  .controls {
    float: none;
    position: static;
    width: 100%;
  }
  .guide-controls {
    width: 100%;
    display: block;
    padding: 0;
    li {
      min-width: unset;
      margin: 0;
      width: 32%;
      display: inline-block;
      button {
        text-align: left;
      }
    }
    margin-bottom: 0;
  }
  div#guidenav {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    float: none;
    display: inline-block;
    .thumb {
      margin: 0;
      width: 32%;
      display: inline-block;
      opacity: 1;
    }
  }
}
