#dropdown {
  display: none;
}

nav, footer {
  z-index: 500;
  background-color: $black;
  padding: 0 5%;
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    //float: right;
    a {
      letter-spacing: 3px;
      display: block;
      color: $white;
      text-align: center;
      text-decoration: none;
      &:hover {
        color: $grey;
      }
    }

    &:hover {
      background-color: #111;
    }
    &:first-child {
      border-top: none;
      float: left;
      a {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  div#burgable {
    z-index: 501;
    width: 80%;
    float: right;

    li {
      //float: right;
      display: inline-block;
      //direction: rtl;

      &:first-child a {
        margin-left: 30px;
      }
    }
  }
}

footer {
  width: auto;
  padding: 0 5%;
  background-color: $black;
  li {
    float: right;
    &:hover {
      background-color: $black;
    }
    a {
      color: $grey;
      padding: 25px 8px;
    }
    &:first-child a {
      padding-left: 0;
    }
  }
}

nav li a {
  padding: 17px 20px 10px 20px;
  margin: 0 30px;
}

#logo {
  padding: 0;
  a {
    padding-top: 10px;
  }
  img {
    width: 170px;
  }
}

@media (max-width: 767px) {

  nav {
    li#dropdown {
      right: 20px;
    }

    div#burgable.hamburged {
      width: 150px;
      li {
        width: 150px;
      }
    }

  }

}

@media (max-width: 1380px) {
  nav {
    div#burgable {
      background-color: $black;
      display: none;

      &.hamburged {
        display: block;
        position: absolute;
        right: 10%;
        width: 250px;
        li {
          display: block;
          width: 250px;
        }
      }
    }
    li {

      border-top: 1px solid $grey;

      &#dropdown {
        display: initial;
        position: absolute;
        top: 15px;
        right: 11%;
        color: white;
        border-top: none;
        font-size: 20px;
      }

      float: none;
      display: none;

      &:first-child {
        float: none;
        display: inline-block;

        a {
          display: block;
        }
      }

      a {
        margin: 0;
        padding: 5px 20px;
      }
    }

  }
}

@media (max-width: 1200px) {
  nav {
      div#burgable.hamburged {
      right: 5%;
    }
    li#dropdown {
      right: 5%;
    }
  }
}

@media (min-width: 1200px) {
  nav, footer {
    padding: 0 10%;
    div#burgable {
      width: fit-content;
    }
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  nav, footer {
    li a {
      margin: 0 15px;
    }
  }
}
