#Content {
  .Dragger #Name {
    line-height: initial;
    padding-top: 30px;
  }
  .Slider.x {
    width: 90%;
    margin-left: 5%;
  }
}

div#buffer {
  margin-top: 350px;
  margin-bottom: 50px;
}

.mobile {
  display: none;
}
@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.animalTile {
  vertical-align: top;
  width: 100px;
  min-height: 150px;
  display: inline-block;
}
@media (min-width: 768px) {
  .animalTile {
    width: 9%;
  }
}
.animalIcon {
  //width: 100px;
  width: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.sliderIcon {
  width: 90px;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

div#soundIcons {
  .caption {
    font-size: 12px;
    text-align: center;
    height: 30px;
  }

  margin-bottom: 50px;
}

div#copyCircle {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 100;
  background-color: black;
}

@media (min-width: 1200px) {
  #Content .Slider.x {
    width: 70%;
    margin-left: 15%;
  }
}

#reset {
  margin-bottom: 25px;
  padding: 2.5px 5px;
  border-radius: 5px;
  border: 1px solid black;
  &:active {
    background-color: #ddd;
  }
}
