@import "constants";

html, body {
  margin: 0;
  padding: 0;
  background-color: $black;
}

ul {
  list-style-type: none;
}

nav, footer {
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $black;
  }

  li {
    float: right;

    a {
      display: block;
      color: $white;
      text-align: center;
      padding: 17px 20px 10px 20px;
      text-decoration: none;
      &:hover {
        color: $grey;
      }
    }

    &:hover {
      background-color: #111;
    }
    &:first-child {
      float: left;
    }
  }
}

#logo {
  padding: 0;
  a {
    padding-top: 10px;
  }
  img {
    width: 120px;
  }
}

img {
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

div.main {
  margin: 0;
  padding: 0;
}


div.indent {
  padding: 50px 5%;
  background-color: $white;
  h2 {
    text-align: center;
  }
}

div.black {
  background-color: $black;
  color: white;
  &.indent {
    h2 {
      text-align: left;
      margin-left: 0;
      color: $nepal;
    }
  }
}

.full-size {
  width: 100%;
}

.center {
  text-align: center;
}

footer {
  //height: 60px;
  width: auto;
  padding: 0 5%;
  background-color: $black;
  border-top: 6px solid $everglade;
  li {
    &:hover {
      background-color: $black;
    }
    a {
      color: $nepal;
      padding: 25px 8px;
    }
  }
}

.tab {
  display: none;
  &.active {
    display: initial;
  }
}

.two-thirds {
  display: inline-block;
  width: 60%;
}

.controls {
  display: inline-block;
  float: right;
  width: 40%;
  position: relative;
  top: -75px;
  li {
    margin-top: 10px;
    text-align: left;
  }

  i.fas {
    font-size: 20px;
    margin-right: 5px;
    color: $everglade;

    &.fa-map-marker-alt {
      margin-left: 2.5px;
      margin-right: 7px;
    }
  }
}

#current {
  color: $nepal;
}

// remove button styling
button {
  background: none;
  color: inherit;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.watch {
  background-color: $nepal;
  width: 90%;
  margin-left: 10%;
  padding: 10px 0;
  border-radius: 5px;
  i.fas {
    color: $white;
    margin-right: 0;
    margin-left: 5px;
    position: relative;
    top: 3px;
  }

  &:hover {
    background-color: darken($nepal, 25%);
  }
}

ul.tab-buttons {
  width: 100%;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    display: inline-block;
    background-color: $grey;
    padding: 10px 0;
    width: 32%;
    text-align: center;

    &.tab-buttons-active {
      background-color: $nepal;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  .everglade {
    stroke: $everglade;
    fill: $everglade;
    &.cls-1 {
      fill: none;
    }
  }
  .nepal {
    stroke: $nepal;
  }
}

