@import "constants";

html, body {
  margin: 0;
  padding: 0;
  background-color: $black;
}

ul {
  list-style-type: none;
}

nav, footer {
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $black;
  }

  li {
    float: right;

    a {
      display: block;
      color: $white;
      text-align: center;
      padding: 17px 20px 10px 20px;
      text-decoration: none;
      &:hover {
        color: $grey;
      }
    }

    &:hover {
      background-color: #111;
    }

    &:first-child {
      padding: 0;
      a {
        padding-top: 10px;
      }
      float: left;
      img {
        width: 120px;
      }
    }
  }
}

img {
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

div.main {
  margin: 0;
  padding: 0;
}


div.indent {
  padding: 50px 5%;
  background-color: $white;
}

div.black {
  background-color: $black;
  color: white;
}

div.black.indent {
  h2 {
    color: $nepal;
  }
}

.full-size {
  width: 100%;
}

.center {
  text-align: center;
}

footer {
  //height: 60px;
  width: auto;
  padding: 0 5%;
  background-color: $black;
  border-top: 6px solid $everglade;
  li {
    &:hover {
      background-color: $black;
    }
    a {
      color: $nepal;
      padding: 25px 8px;
    }
  }
}

.tab {
  display: none;
  &.active {
    display: initial;
  }
}

.two-thirds {
  display: inline-block;
  width: 66%;
}

.controls {
  display: inline-block;
  width: 33%;
  position: relative;
  top: -100px;

  i.fas {
    font-size: 20px;
    margin-right: 5px;
    color: $everglade;
  }
}

#current {
  color: $nepal;
}

// remove button styling
button {
  background: none;
  color: inherit;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
