{% from "macros.html" import image %}
{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
{# load in the images on the top #}
{{ image('3.0.jpg', 'tab active t3-0') }}
{% for i in range(1, 4) -%}
{{ image('3.' + i + '.jpg', 'tab t3-' + i) }}
{%- endfor %}
{# info #}
<div class="indent about">
  <h2>About Us</h2>
  <ul id="tab-buttons">
    <li class="t3-3">Companion Platforms</li>
    <li class="t3-2">Ed Resources</li>
    <li class="t3-1">Credits</li>
  </ul>
  <br/>
  {# content for all of them #}
  {% for i in range(0, 4) %}
    <div class="t3-{{i}} tab{{" active" if i === 0 else ""}}">
      {{ about["3." + i] | nl2br | safe }}
    </div>
  {% endfor %}
</div>
{% endblock %}
