<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/dist/css/master.css">
    <script type="text/javascript" src="/dist/js/master.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/favicons/favicon-16x16.png">
    <link rel="manifest" href="/dist/favicons/site.webmanifest">
    <link rel="mask-icon" href="/dist/favicons/safari-pinned-tab.svg" color="#839b12">
    <link rel="shortcut icon" href="/dist/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/dist/favicons/browserconfig.xml">
    <meta name="theme-color" content="#839b12">
    <title>{% block title %}{% endblock %} | Swampscape</title>
    {% endblock %}
  </head>

  <body>
    <nav>
      <ul>
        <li id="logo"><a href="/"><img src="/dist/images/logo.png"/></a></li>
        <li id="dropdown" onclick="toggleMenu()"><i class="fas fa-bars"></i></li>
        <div id="burgable">
          <li id="aboutNavLink"><a href="/about">About Us</a></li> 
          <li><a href="/swamp-slider">Swamp Slider</a></li>
          <li><a href="/swamp-symphony">Swamp Symphony</a></li>
          <li><a href="/guides">Guides</a></li> 
        </div>
      </ul>
    </nav>

    <div class="main">
      {% block body %}{% endblock %}
    </div>

    <footer>
      <ul>
        <li><a href="mailto:{{ home['0.3.5'] }}"><i class="fas fa-envelope"></i> {{ home['0.3.5'] | capitalize }}</a></li>
        <li><a href="{{ home['0.3.4'] }}"><i class="fab fa-youtube"></i></a></li>
        <li><a href="{{ home['0.3.3'] }}"><i class="fab fa-vimeo-v"></i></a></li>
        <li><a href="{{ home['0.3.2'] }}"><i class="fab fa-instagram"></i></a></li>
        <li><a href="{{ home['0.3.1'] }}"><i class="fab fa-twitter"></i></a></li>
        <li><a href="{{ home['0.3.0'] }}"><i class="fab fa-facebook-f"></i></a></li>
      </ul>
    </footer>
  </body>
</html>
