<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- links to favicons, css, etc.. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css/master.css">
    <title>{% block title %}{% endblock %} | Swampscape</title>
    {% endblock %}
  </head>

  <body>
    <!-- Navigation -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </nav>

    <!-- Content -->
    <div class="main">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
