{% from "macros.html" import guide %}
{% extends "base.html" %}
{% block title %}Guides{% endblock %}
{% block head %}
  {{ super() }}
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvQTkRucJxFbcJ8ikHMdaKzHEaWiBCPhY">
  </script>
  <script type="text/javascript" src="/dist/js/map.js"></script>
{% endblock %}

{% block body %}
<div id="guidebody">
  {{ guide(guides[0], 'active') }}
  {% for i in range(1, 6) %}
    {{ guide(guides[i]) }}
  {% endfor %}
  <div class="overlay" id="map">
    <button onclick='closeOverlay()'>Close <i class="fas fa-times"></i></button>
    <div class="popup" id="mapPopup">
    </div>
  </div>
</div>
<div id="guidenav">
  <h1>Select your guide</h1>
  {% for i in range(1, guides.length + 1) %}
    <img src="/dist/images/1.{{i}}_Guide_Thumbnail.jpg"
      onclick="selectGuide('{{guides[i-1].slug}}')"
      class="thumb"/>
  {% endfor %}
</div>
{% endblock %}
