{% from "macros.html" import image %}
{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
{{ image('0.0.jpg') }}
<button id="play-trailer" onclick="playFilm('trailer')"><i class="fas fa-play-circle"></i></button>
<div id="first-copy">
  <p>{{ home['0.2'] }}</p>
  <!-- <div class="controls">
    <button onclick="playFilm('trailer')" class="watch">Watch the trailer <i class="fas fa-play-circle"></i></button>
  </div> -->
</div>
<div class="overlay trailer">
  <button onclick='closeOverlay("trailer")'>Close X</button>
  <div class="popup">
    {{ home.video.html | safe }}
  </div>
</div>
{% endblock %}
