{% from "macros.html" import image %}
{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
{{ image('0.0.jpg') }}
<div class="black indent">
  <p class="two-thirds">{{ home['0.2'] }}</p>
  <div class="controls">
    <button class="watch">Watch the trailer <i class="fas fa-play-circle"></i></button>
  </div>
</div>
<div class="indent">
  <h2>{{ home['0.5'] }}</h2>
  <p class="center">Use the slider to see change over time</p>
</div>
{% endblock %}
