{% macro image(source="", other_classes="") %}
<img src="/dist/images/{{ source }}" class="full-size {{other_classes}}"/>
{% endmacro %}

{% macro guide(g={}, other_classes="") %}
<div class="guide tab {{ other_classes }}">
  {{ image(g.number + '.jpg') }}
  <div class="indent black">
    <h2>{{ g.scapename }}</h3>
    <p class="two-thirds">{{ g.description }}</p>
    <div class="controls">
      <ul>
        <li><button><i class="fas fa-play-circle"></i> Play Film</button></li>
        <li><button>Visit Landscape</button></li>
        <li><button><i class="fas fa-map-marker-alt"></i> Open Map</button></li>
        <li><button>Other Swampscapes</button></li>
      </ul>
    </div>
  </div>
</div>
{% endmacro %}
